@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

:root {
  --primary: #005440;
  --darker-primary: #003a2c;
  --primary-container: #0f6e56;
  --on-primary: #fff;
  --primary-fixed: #a0f3d4;
  --secondary: #476459;
  --secondary-container: #c9eadb;
  --on-secondary-container: #2f4c42;
  --tertiary-fixed: #ffdad4;
  --deeper-white: #e7e8e3;
  --on-tertiary-fixed: #583523;
  --on-tertiary-fixed2: #6b5043;
  --background: #f9f9f7;
  --surface: #fff;
  --surface-low: #bce1d2;
  --surface-container: #dfdfda;
  --surface-high: #e8e8e6;
  --surface-highest: #e2e3e1;
  --on-surface: #1a1c1b;
  --on-surface-variant: #3f4944;
  --outline: #6f7a74;
  --outline-variant: #bec9c3;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-japanese: 'Noto Serif JP', serif;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
  --sidebar-width: 240px;
  --header-height: 64px;
  --mobile-nav-height: 72px;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  --card-shadow2: 2px 5px 3px rgba(0, 0, 0, 0.05);
}

.dark {
  --primary: #8acbb3;
  --primary-container: #003a2c;
  --on-primary: #013d2d;
  --primary-fixed: #0b5442;
  --secondary: #b0c9c0;
  --secondary-container: #344c44;
  --on-secondary-container: #b0c9c0;
  --background: #0f1211;
  --surface: #161a19;
  --surface-low: #1a1e1d;
  --surface-container: #202624;
  --surface-high: #28302d;
  --on-surface: #d1d5d3;
  --on-surface-variant: #bec9c6;
  --outline: #94a09d;
  --error: #e59a91;
  --card-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--deeper-white);
}
body {
  font-family: var(--font-body);
  background-color: var(--background);
  color: var(--on-surface);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: var(--font-japanese);
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
/* dashboard-layout */
.dashboard-layout {
  display: flex;
  background-color: var(--deeper-white);
}
.dashboard-main-page {
  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  flex: 1;
}
.dashboard-header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  background-color: var(--surface);
  border-bottom: 2px solid var(--surface-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 90;
  box-shadow: var(--card-shadow);
}
.dashboard-main-page-outlet {
  padding: 0.5rem;
}
/* footer license */

.dashboard-footer-lisense {
  grid-area: lima;
  background-color: var(--surface-container);
  border-top: 2px solid var(--surface-container);
  padding: 0.5rem;
  border-radius: var(--radius-md);
}
.dashboard-footer-lisense a {
  color: var(--primary);
}
/* sidebar */
.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--surface);
  border-right: 2px solid var(--surface-container);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  z-index: 100;
}
.sidebar-header {
  text-align: center;
}
.sidebar-title {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 900;
}
.sidebar-slogan {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: var(--outline);
  letter-spacing: 0.2em;
  margin-top: 0.25rem;
}
.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.sidebar-footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
}
.sidebar-footer h3 {
  text-align: center;
}
.sidebar-navlink-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1.5rem;
  color: var(--on-surface-variant);
  opacity: 0.75;
  transition: all 0.2s;
  font-size: 0.875rem;
}

.sidebar-navlink-btn.active {
  background-color: var(--surface-low);
  color: var(--primary-container);
  font-weight: 700;
  border-right: 4px solid var(--primary-container);
  opacity: 1;
}
.sidebar-logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: var(--error);
  font-weight: 700;
  text-align: center;
  border-radius: var(--radius-full);
}
.sidebar-logout-btn:hover {
  color: var(--surface);
  background-color: var(--error);
}
.sidebar-logout-btn:active {
  background-color: var(--on-error-container);
}

/* .auth-page (login dan register) */
.auth-page {
  display: flex;
  min-height: 100vh;
  cursor: loa;
}
.auth-page-jumbotron {
  flex: 1;
  background-image: url('./assets/authBg.webp');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.auth-page-jumbotron-bg-kanji {
  display: flex;
  align-items: flex-start;
  position: absolute;
  font-family: var(--font-japanese);
  flex: 1;
  height: 100vh;
  font-size: 20rem;
  opacity: 0.08;
  color: var(--background);
  pointer-events: none;
}
.auth-page-jumbotron-bg-kanji-2 {
  align-self: flex-end;
}

.auth-page-jumbotron-teks {
  flex: 1;
  color: var(--surface);
  text-align: center;
}
.auth-page-jumbotron-teks h3 {
  font-weight: 100;
  font-family: var(--font-body);
}

.auth-page-jumbotron-teks h1 {
  font-size: 3rem;
}
.auth-page-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
.auth-page-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.password-label {
  display: flex;
  justify-content: space-between;
}
.auth-page-form label {
  font-weight: bold;
}
.auth-page-form input {
  border: 1px var(--outline) solid;
  border-radius: var(--radius-md);
  min-height: 2.5rem;
  padding: 8px;
}
.auth-page-button {
  background-color: var(--primary-container);
  margin-top: auto;
  min-width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius-full);
  align-self: center;
  color: var(--background);
  transition: transform 0.2s;
  font-weight: bold;
}
.auth-page-button:disabled {
  background-color: var(--on-surface-variant);
  cursor: wait;
}
.auth-page-button:active {
  transform: scale(0.98);
}
.auth-page-to-register {
  text-align: center;
}
.auth-page-to-register-link {
  font-weight: bold;
  color: var(--primary);
}
.auth-error-message {
  color: var(--error);
  background-color: var(--error-container);
  border-radius: var(--radius-md);
  padding: 0.3rem;
}
.auth-account-created {
  color: var(--primary);
  background-color: var(--surface-low);
  border-radius: var(--radius-md);
  padding: 1rem;
}

/* notfound page */

.not-found-page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
}
.not-found-page-pict img {
  max-width: 30rem;
  border-radius: var(--radius-md);
}
.not-found-page-teks h1 {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 900;
  background-color: var(--surface-low);
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: var(--radius-xl);
}
.not-found-page-teks h2 {
  font-size: 4rem;
  color: var(--primary);
  font-weight: 900;
}
.not-found-page-teks p {
  color: var(--secondary);
  font-weight: 100;
}
.not-found-page-back-to-home {
  font-weight: 900;
  color: var(--on-secondary-container);
}

/* home page  */
.home-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 2rem;
  grid-template-areas:
    'satu satu satu satu'
    'dua dua dua tiga'
    'dua dua dua tiga'
    'empat empat empat tiga'
    'empat empat empat lima';
}
.flip-card {
  grid-area: tiga;
  background-color: transparent;
  perspective: 1000px;
  border-radius: 12px;
  aspect-ratio: 1/2;
  overflow: hidden;
  padding: 3rem 0rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  box-sizing: border-box;
}

.flip-card-front {
  background-image: url('assets/homepageimg.webp');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}

.flip-card-back {
  background-image: url('assets/homepaheimg2.webp');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
}

.quote-overlay {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}

.quote-text {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.home-page-statistics {
  grid-area: satu;
  display: flex;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  padding: 8px;
  gap: 0.5rem;
  box-shadow: var(--card-shadow2);
}
.home-page-statistics-numbers {
  font-size: 2rem;
}
.home-page-statistics div {
  background-color: var(--darker-primary);
  color: var(--background);
  border: 1px var(--outline-variant);
  flex: 1;
  padding: 1rem;
  position: relative;
  border-radius: var(--radius-lg);
  overflow: hidden;
  cursor: pointer;
}
.home-page-statistics div h2 {
  font-size: 1rem;
}
.home-page-statistics-explain {
  position: absolute;
  font-size: 0.7rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  margin: 0;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  background-color: var(--on-tertiary-fixed);

  background-image:
    radial-gradient(
      circle at 0% 50%,
      var(--on-tertiary-fixed2) 1%,
      transparent 70%
    ),
    radial-gradient(
      circle at 1% 100%,
      var(--on-tertiary-fixed) 0%,
      transparent 10%
    );
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 0.4s ease-out,
    opacity 0.3s ease;
}

.home-page-statistics div:hover .home-page-statistics-explain {
  opacity: 1;
  transform: translateY(0);
}
.home-page-startsessions {
  grid-area: dua;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  max-height: 55vh;

  background-color: var(--darker-primary);

  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--primary-container) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 100%, var(--primary) 0%, transparent 10%);

  border-radius: var(--radius-xl);
  color: var(--on-primary);
}
.home-page-startsessions h3 {
  font-size: 2rem;
}
.home-page-startsessions p {
  color: var(--outline-variant);
}

.home-page-start-button {
  background-color: var(--on-primary);
  color: var(--on-secondary-container);
  max-width: fit-content;
  padding: 1rem 2rem;
  min-width: 13rem;
  border-radius: var(--radius-full);
  font-size: large;
  margin-left: auto;
  margin-top: auto;
  transition: transform 0.2s;
  box-shadow: var(--card-shadow2);
}
.home-page-start-button:active {
  transform: scale(0.94);
}
.home-page-start-button:hover {
  color: var(--on-primary);
  background: var(--on-tertiary-fixed);
}
.home-page-upcoming-sessions {
  grid-area: empat;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 55vh;
  padding: 0.5rem;
  background-color: var(--primary-container);
  border-radius: var(--radius-lg);
  box-shadow: inset 0px 2px 6px var(--darker-primary);
}
.home-page-upcoming-sessions h2 {
  background-color: var(--background);
  padding: 0.3rem;
  box-shadow: var(--card-shadow);
  border-radius: var(--radius-lg);
  font-size: 1.2rem;
  text-align: center;
  border: solid 1px var(--outline);
}
.home-page-upcoming-sessions-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--darker-primary) var(--primary);
  scrollbar-width: thin;
}

.home-page-upcoming-sessions-list li {
  background-color: var(--background);
  padding: 0.3rem;
  box-shadow: var(--card-shadow2);
  border-radius: var(--radius-lg);
  border: solid 1px var(--outline-variant);
  font-size: 1rem;
  text-align: center;
}

/* study page */
.study-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  min-height: 85vh;
  max-height: 85vh;
  gap: 2rem;
  grid-template-areas:
    'dua dua dua satu'
    'dua dua dua satu'
    'dua dua dua satu'
    'dua dua dua satu'
    'lima lima lima lima';
}
.study-page-progress {
  grid-area: satu;
  display: flex;
  flex-direction: column;

  background-color: var(--primary-container);

  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--darker-primary) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 40%, var(--darker-primary) 0%, transparent 70%);
  min-height: 100%;
  border-radius: var(--radius-md);
  box-shadow: inset 2px 2px 15px var(--darker-primary);
  padding: 0.5rem;
  color: var(--background);
}
.study-page-progress-bar {
  display: flex;
  padding: 1rem;
  color: var(--darker-primary);
  gap: 2px;
}
.study-page-bar {
  max-height: 1rem;
  max-width: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  transition: background-color 0.2s;
}

.study-page-container {
  grid-area: dua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'questions flashcard timer'
    'questions flashcard answer'
    'questions flashcard answer';
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);

  background-color: var(--darker-primary);

  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--primary-container) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 100%, var(--primary) 0%, transparent 10%);

  border-radius: var(--radius-xl);
  color: var(--on-primary);
}
.study-page-answer-choice {
  grid-area: answer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
}
.next-sessions-button {
  margin-top: auto;
  margin-left: auto;
  max-width: fit-content;
  background-color: var(--outline-variant);
  border-radius: var(--radius-sm);
  padding: 0.5rem;
  transition: transform 0.2s;
}
.next-sessions-button:hover {
  background-color: var(--on-tertiary-fixed2);
  color: var(--background);
}
.next-sessions-button:active {
  transform: scale(90%);
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.study-page-choice-button {
  font-family: var(--font-body);
  background-color: var(--background);
  font-size: 1cqw;
  padding: 0.5rem;
  min-width: 80%;
  border-radius: var(--radius-full);
  text-align: center;
  transition: transform 0.2s;
}
.study-page-choice-button:active {
  transform: scale(95%);
}
.study-page-timer {
  grid-area: timer;
}
.flashcard {
  grid-area: flashcard;
  perspective: 1200px;
}
.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  position: relative;
  box-shadow: var(--card-shadow2);
}
.flashcard-rotate {
  transform: rotateY(180deg);
}
.flashcard-answered:hover .flashcard-rotate {
  cursor: pointer;
  transform: rotateY(0deg);
}
.study-page-flashcard {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--primary-container);
  border: solid 1px var(--outline);
  background-image:
    radial-gradient(
      circle at -20% 70%,
      var(--darker-primary) 10%,
      transparent 70%
    ),
    radial-gradient(
      circle at 120% 30%,
      var(--darker-primary) 10%,
      transparent 70%
    );

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1cqw;
  border-radius: var(--radius-lg);
}
.study-page-flashcard-back {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: var(--surface-highest);
  border: solid 1px var(--outline);
  background-image:
    radial-gradient(circle at -20% 70%, var(--background) 10%, transparent 70%),
    radial-gradient(circle at 120% 30%, var(--background) 10%, transparent 70%);
  display: flex;
  color: var(--on-secondary-container);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1cqw;
  border-radius: var(--radius-lg);
}
.kana-question,
.romanji-question,
.flashcard-current-rating {
  font-family: var(--font-body);
  font-size: 2cqw;
}

.kanji-question {
  margin-bottom: auto;
  font-size: 3cqw;
}
.study-page-question {
  grid-area: questions;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.kanji-meanings {
  font-size: 2cqw;
}

/* study deck choice page */

.deck-choice-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.deck-choice {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 1rem;
}

.deck-choice-format {
  background-color: var(--primary-container);
  border: solid 1px var(--outline);
  background-image:
    radial-gradient(
      circle at -20% 70%,
      var(--darker-primary) 10%,
      transparent 70%
    ),
    radial-gradient(
      circle at 120% 30%,
      var(--darker-primary) 10%,
      transparent 70%
    );
  display: flex;
  flex-direction: column;
  color: var(--deeper-white);
  font-family: var(--font-body);
  border-radius: var(--radius-md);
  gap: 1rem;
  padding: 1rem;
}
.deck-choice-button-container {
  display: flex;
  justify-content: space-between;
}
.deck-choice-format button {
  background-color: var(--deeper-white);
  border-radius: var(--radius-lg);
  padding: 1rem;
  max-width: fit-content;
  transition: transform 0.2s;
}
.deck-choice-format button:hover {
  background-color: var(--on-tertiary-fixed2);
  color: var(--background);
}
.deck-choice-format button:active {
  transform: scale(90%);
}

/* study result page */
.result-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.result-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;

  padding: 1rem;
  gap: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);

  background-color: var(--darker-primary);

  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--primary-container) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 100%, var(--primary) 0%, transparent 10%);

  border-radius: var(--radius-xl);
}
.result-card {
  color: var(--on-secondary-container);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-lg);
  box-shadow: var(--card-shadow2);
}

/* deck list page */

.deck-list-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.deck-list-page-header {
  display: flex;
  gap: 1rem;
}
.searchbar-input {
  border-radius: var(--radius-full);
  padding: 0px 1rem;
  min-width: 30%;
  border: 1px solid var(--outline-variant);
}
.searchbar-input::-webkit-search-cancel-button {
  cursor: pointer;
  filter: grayscale(1) brightness(0.5);
}
.deck-list-add-deck {
  margin-left: auto;
  background-color: var(--primary);
  box-shadow: var(--card-shadow);
  color: var(--background);
  padding: 0.8rem;
  border-radius: var(--radius-md);
  transition: transform 0.3s;
}
.deck-list-add-deck:active {
  transform: scale(90%);
}

.deck-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  padding: 1rem;
  gap: 1rem;
  border-radius: var(--radius-lg);
  background-color: var(--outline-variant);

  background-image:
    radial-gradient(circle at 30% -20%, var(--background) 10%, transparent 70%),
    radial-gradient(circle at 1% 100%, var(--background) 0%, transparent 10%);
}

.deck-default-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  color: var(--deeper-white);
  background-color: var(--darker-primary);
  border-radius: var(--radius-md);
  padding: 0.5rem;
  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--primary-container) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 100%, var(--primary) 0%, transparent 10%);
}
.deck-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  color: var(--deeper-white);
  background-color: var(--darker-primary);
  border-radius: var(--radius-md);
  padding: 0.5rem;
  background-image:
    radial-gradient(
      circle at 30% -20%,
      var(--primary-container) 10%,
      transparent 70%
    ),
    radial-gradient(circle at 1% 100%, var(--primary) 0%, transparent 10%);
}
.deck-container-button {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  margin-top: 1rem;
}
.deck-list-buttons {
  background-color: var(--deeper-white);
  padding: 0.3rem;
  border-radius: var(--radius-sm);
  transition: transform 0.3s;
}
.deck-delete-button {
  background-color: var(--error-container);
  margin-right: auto;
}
.deck-delete-button:hover {
  background-color: var(--error);
  color: var(--deeper-white);
}

.deck-list-buttons:active {
  transform: scale(90%);
}
.deck-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deck-tag {
  color: var(--on-surface);
  font-size: xx-small;
  background-color: var(--secondary-container);
  border-radius: var(--radius-full);
  padding: 0px 5px;
}
.deck-tag-custom {
  color: var(--on-surface);
  font-size: xx-small;
  background-color: var(--deeper-white);
  border-radius: var(--radius-full);
  padding: 0px 5px;
}
.deck-created-at {
  font-size: 0.8rem;
}
/*deck detail page*/
.deck-detail-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.deck-detail-page-header {
  display: flex;
}
.deck-detail-container {
  background-color: var(--primary-container);
  border-radius: var(--radius-lg);
}
.deck-detail-description {
  color: var(--deeper-white);
  padding: 0.3rem;
}

.deck-detail-title {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}
.deck-detail-title h2 {
  color: var(--background);
}
.deck-detail-back-button {
  background-color: var(--deeper-white);
  color: var(--darker-primary);

  padding: 0.5rem;
  border-radius: var(--radius-full);
  box-shadow: var(--card-shadow2);
  transition: transform 0.3s;
}
.deck-detail-back-button:hover {
  background-color: var(--on-tertiary-fixed2);
  color: var(--background);
}
.deck-detail-back-button:active {
  transform: scale(90%);
}
.deck-detail-minor {
  display: flex;
  gap: 1rem;
  font-size: smaller;
  background-color: var(--on-secondary-container);
  padding: 0.5rem;
}
.deck-detail-minor p {
  background-color: var(--deeper-white);
  border-radius: var(--radius-sm);
  padding: 2px;
}
.deck-words-list {
  border-collapse: collapse;
  border-radius: var(--radius-lg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  gap: 1rem;
  border-radius: var(--radius-lg);
  background-color: var(--outline-variant);

  background-image: radial-gradient(
    circle at 30% -20%,
    var(--background) 10%,
    transparent 70%
  );
}

.deck-words-list caption {
  background-color: var(--primary-container);
  color: var(--deeper-white);
  max-width: fit-content;
  padding: 0.8rem;
  border-radius: 20px 20px 0px 0px;
  box-shadow: inset 0rem -0.5rem 10px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
}

.deck-words-list th {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--darker-primary);
}
.deck-words-list td {
  padding: 0.5rem;
  text-align: center;
}

/*deck edit page*/
.deck-edit-page,
.deck-create-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.deck-edit-words-list {
  border-collapse: collapse;
  border-radius: var(--radius-lg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  gap: 1rem;
  border-radius: var(--radius-lg);
  background-color: var(--outline-variant);

  background-image: radial-gradient(
    circle at 30% -20%,
    var(--background) 10%,
    transparent 70%
  );
}
.deck-edit-words-list input[type='checkbox'] {
  accent-color: var(--primary-container);
  transform: scale(3);
  margin: 10px;
}
.deck-edit-words-list input[type='checkbox']:hover {
  cursor: pointer;
}
.deck-edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--primary-container);
  border-radius: var(--radius-lg);
}
.deck-edit-inputs input {
  max-width: 40%;
  font-family: var(--font-body);
  padding: 0.8rem;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: var(--radius-md);
}
.deck-edit-inputs textarea {
  font-family: var(--font-body);
  font-size: medium;
  resize: none;
  min-width: 100%;
  min-height: 10rem;
  padding: 1rem;
  border: none;
  border-radius: var(--radius-lg);
}
.deck-edit-inputs p {
  color: var(--deeper-white);
}
.deck-edit-inputs label {
  font-weight: bold;
  color: var(--deeper-white);
}
.deck-edit-inputs button {
  background-color: var(--deeper-white);
  padding: 5px 1rem;
  min-width: 20%;
  border-radius: var(--radius-sm);
  transition: transform 0.3s;
  margin-left: auto;
}
.deck-edit-submit-button:hover {
  background-color: var(--primary);
  color: var(--deeper-white);
}
.deck-edit-inputs button:active {
  transform: scale(90%);
}
.deck-cancel-edit:hover {
  background-color: var(--error);
  color: var(--deeper-white);
}
.deck-edit-words-list caption {
  background-color: var(--primary-container);
  color: var(--deeper-white);
  max-width: fit-content;
  padding: 0.8rem;
  border-radius: 20px 20px 0px 0px;
  box-shadow: inset 0rem -0.5rem 10px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
}

.deck-edit-words-list th {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--darker-primary);
}
.deck-edit-words-list td {
  padding: 0.5rem;
  text-align: center;
}

/* confirm delete modal */
.dialog-modal {
  padding: 1.5rem;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  border-radius: var(--radius-md);
  width: 90%;
  max-width: 400px;
  position: fixed;
}
.dialog-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.dialog-container {
  text-align: center;
}
.dialog-container h3 {
  margin-top: 0;
}
.dialog-button-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 20px;
}
.cancel-dialog-button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--on-secondary-container);
  color: var(--deeper-white);
  border-radius: var(--radius-sm);
  transition: transform 0.2s;
}
.cancel-dialog-button:active {
  transform: scale(80%);
}
.confirm-dialog-button {
  padding: 0.5rem;
  background-color: var(--error);
  color: var(--deeper-white);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: transform 0.2s;
}
.confirm-dialog-button:active {
  transform: scale(80%);
}
/* edit modal dialog */
.cancel-dialog-button-edit {
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--error-container);
  color: var(--error);
  font-weight: bold;
  border-radius: var(--radius-sm);
  transition: transform 0.2s;
}
.cancel-dialog-button-edit:active {
  transform: scale(80%);
}
.confirm-dialog-button-edit {
  padding: 0.5rem;
  background-color: var(--primary-fixed);
  color: var(--primary-container);
  border: none;
  font-weight: bold;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: transform 0.2s;
}
.confirm-dialog-button-edit:active {
  transform: scale(80%);
}

/* dictionary-page */
.dict-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchbar-input-word-list {
  border-radius: var(--radius-full);
  padding: 0px 1rem;
  min-width: 30%;
  border: 1px solid var(--outline-variant);
  margin-left: auto;
}
.searchbar-input-word-list::-webkit-search-cancel-button {
  cursor: pointer;
  filter: grayscale(1) brightness(0.5);
}
.dict-page-words-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  padding: 1rem;
  gap: 1rem;
  border-radius: var(--radius-lg);
  background-color: var(--outline-variant);
  contain: layout;
  background-image:
    radial-gradient(circle at 30% -20%, var(--background) 10%, transparent 70%),
    radial-gradient(circle at 1% 100%, var(--background) 0%, transparent 10%);
}
.word-flip-card {
  perspective: 1000px;
  width: 1fr;
  height: 300px;
}

.word-flip-card-inner {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--card-shadow2);
  will-change: transform;
  transform: translateZ(0);
  border-radius: var(--radius-lg);
}

/* Efek saat kartu di-hover */
.word-flip-card:hover .word-flip-card-inner {
  transform: rotateY(180deg) translateZ(0);
}

.word-flip-card-front,
.word-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-lg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}
.word-flip-card-front {
  background-color: var(--primary-container);
  border: solid 1px var(--outline);
  background-image:
    radial-gradient(
      circle at -20% 70%,
      var(--darker-primary) 10%,
      transparent 70%
    ),
    radial-gradient(
      circle at 120% 30%,
      var(--darker-primary) 10%,
      transparent 70%
    );

  display: flex;
  color: var(--deeper-white);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1cqw;
  border-radius: var(--radius-lg);
}
.word-flip-card-japanese {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-japanese);
}
.word-flip-card-japanese h3 {
  font-size: clamp(12px, 4vw, 24px);
}
.word-flip-card-japanese p {
  font-size: clamp(6px, 2vw, 12px);
}
.word-flip-card-meaning {
  font-size: clamp(12px, 4vw, 24px);
}
.word-flip-card-back {
  transform: rotateY(180deg);
  background-clip: padding-box;
  background-color: var(--deeper-white);
  border: solid 1px var(--outline);
  background-image:
    radial-gradient(circle at -20% 70%, var(--background) 10%, transparent 70%),
    radial-gradient(circle at 120% 30%, var(--background) 10%, transparent 70%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1cqw;
  border-radius: var(--radius-lg);
}

.word-flip-card-indonesian {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}
